body {
  background: url("https://i.postimg.cc/2y6VsCnn/neon-genesis-evangelion-ec.jpg") center;
  background-size: cover;
}

h1{
  margin-bottom: 100px;
  border: 2px solid;
  background-color: grey;
  height: 70px;
}

#left {
  border: 2px solid;
  background-color: grey;
  margin: 2px;
}

#center {
  border: 2px solid;
  background-color: grey;
  margin: 2px;
}

#right {
  border: 2px solid;
  background-color: grey;
  margin: 2px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.col-2 {
  max-width: 100%;
  max-height: 100%;
}

.col-1 {
  max-width: 100%;
  max-height: 100%;
}
